// Color
$primary-color: #0066E6;
$secondary-color: white;
$third-color: #004857;
$four-color: #FF4D4F;

$text-base-color: #23262F;
$text-neutral: #777E90;

// Font
$font-size-base: 16px;
$font-weight-base: 500;