.tab_login {
  display: flex;
  width: 100%;

  > div:first-child {
    border-radius: 12px 0px 0px 12px;
  }

  > div:last-child {
    border-radius: 0px 12px 12px 0px;
  }

  > div {
    padding: 16px;
    width: 50%;
    border: 1px solid rgba(102, 102, 102, 0.35);
    text-align: center;
    background: #fff;
    color: #000;
  }
}

.active_tab {
  background: rgba(237, 127, 34, 1) !important;
  color: #fff !important;
}
